<h1 style="text-align: center;"> Listado Producto </h1>

<button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#modalSignin1">
  Agregar Cliente
</button>

<div class="user-dashboard">
    <br>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>

                <th class="text-center">Nit</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Tarjeta</th>
                <th class="text-center">Editar</th>
                
            </tr>
        </thead>
        <tbody>
            <% datas.forEach((data)=>{%>
                <tr>
                    <th scope="row">
                        <%=data.nit%>
                    </th>
                    <td class="text-center">
                        <%=data.nombre%>
                    </td>
                    <td class="text-center">
                        <% if (!data.no_card){ %>
                            <a href="/tarjetaCliente/<%=data.nit%>?opcion=2" class="btn btn-primary ">Agregar</a>
                        <% }else{ %>
                        <%=data.no_card%>
                        <% }%>
                    </td>
                    <td class="text-center">
                        <a href="/editarCliente/<%=data.nit%>?opcion=3" class="btn btn-primary ">Modificar</a>
                    </td>
                </tr>
                <%})%>
        </tbody>
</div>

<!-- Modal -->
<div class="modal modal-signin bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-5 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <!-- <h5 class="modal-title">Modal title</h5> -->
          <h2 class="fw-bold mb-0">Formulario Agregar Cliente</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body p-5 pt-0">
          <form action="/saveCliente" method="POST" class="was-validated">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-4" id="codigoProducto" name="nit" required />
              <label for="codigoProducto">Nit</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-4" id="name" name="name" required />
              <label for="name">Nombre</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">
              Agregar Cliente
            </button>
            <hr class="my-4" />
          </form>
        </div>
      </div>
    </div>